@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .recipe-content {
        @apply twgtr-font-open_sans;
    }
    .recipe-content h1, h2, h3, h4, h5, h6, li {
        @apply twgtr-transition-all twgtr-text-slate-700 dark:twgtr-text-slate-200;
    }
    .recipe-content h1 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[30px] md:twgtr-text-[40px];
    }
    .recipe-content h2 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[28px] md:twgtr-text-[38px];
    }
    .recipe-content h3 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[26px] md:twgtr-text-[36px];
    }
    .recipe-content h4 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[24px] md:twgtr-text-[34px];
    }
    .recipe-content h5 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[22px] md:twgtr-text-[32px];
    }
    .recipe-content h6 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[20px] md:twgtr-text-[30px];
    }
    .recipe-content p {
        @apply twgtr-transition-all twgtr-text-slate-700 dark:twgtr-text-slate-200 twgtr-my-4 twgtr-text-[14px] md:twgtr-text-[16px];
    }
    .recipe-content img {
        @apply twgtr-w-full twgtr-py-4;
    }
    .recipe-content ul {
        @apply  twgtr-pl-[22px] twgtr-list-disc;
    }
    .recipe-content ul li {
        @apply twgtr-transition-all twgtr-pb-2 last:twgtr-pb-0 twgtr-text-slate-700 dark:twgtr-text-slate-200 twgtr-text-[14px] md:twgtr-text-[16px];
    }
}

@layer utilities {
    .site-container {
        @apply twgtr-max-w-[1440px] twgtr-mx-auto twgtr-w-full;
    }
    .terms-privacy-content p {
        @apply twgtr-transition-all twgtr-font-open_sans twgtr-text-[16px] md:twgtr-text-[18px] last:twgtr-mb-0 twgtr-mb-4 dark:twgtr-text-slate-300;
    }
    .terms-privacy-content ul {
        @apply twgtr-list-disc twgtr-pl-5;
    }
    .terms-privacy-content ul li {
        @apply twgtr-transition-all twgtr-font-open_sans twgtr-text-[16px] md:twgtr-text-[18px] last:twgtr-mb-2 twgtr-mb-3 dark:twgtr-text-slate-300;
    }
    .terms-privacy-content h4 {
        @apply twgtr-transition-all twgtr-font-open_sans twgtr-font-bold twgtr-text-[20px] md:twgtr-text-[22px] last:twgtr-mb-0 twgtr-pt-2 twgtr-mb-2 dark:twgtr-text-slate-300;
    }
    /* .site-joedit-adj .jodit-container {
        @apply !twgtr-min-h-[500px]
    } */
    .site-form-error {
        @apply twgtr-transition-all twgtr-block twgtr-mt-1 twgtr-font-ubuntu twgtr-text-[12px] md:twgtr-text-[14px] twgtr-text-red-600 dark:twgtr-text-red-300;
    }
    .rpcat-box:last-child .dot {
        @apply twgtr-hidden;
    }
    .recipe-card {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .srh-main {
        position: relative;
    }
    .srh-main::after {
        content: '';
        position: absolute;
        left: 0px;
        width: 100%;
        bottom: -50px;
        height: 50px;
        background-color: inherit;
        z-index: 1;
    }
    @media (max-width: 767px) {
        .srh-main::after {
            height: 30px;
            bottom: -30px;
        }
    }
}

@layer components {
    .site-header .active {
        @apply twgtr-text-theme-color-4;
    }
    .twgtr-dark .site-header .active {
        @apply twgtr-text-theme-color-4;
    }
    .site-footer .active {
        @apply twgtr-text-theme-color-4;
    }
    .twgtr-dark .site-footer .active {
        @apply twgtr-text-theme-color-4;
    }
    .ssdl-nav .active {
        @apply twgtr-text-theme-color-4 twgtr-font-medium before:twgtr-content-[''] before:twgtr-absolute before:twgtr-left-0 before:twgtr-top-[6px] before:twgtr-w-[2px] before:twgtr-h-[calc(100%-12px)] before:twgtr-bg-theme-color-4;
    }
    .twgtr-dark .ssdl-nav .active {
        @apply twgtr-text-theme-color-4 twgtr-font-medium before:twgtr-content-[''] before:twgtr-absolute before:twgtr-left-0 before:twgtr-top-[6px] before:twgtr-w-[2px] before:twgtr-h-[calc(100%-12px)] before:twgtr-bg-theme-color-4;
    }
    .site-acc-item .active {
        @apply twgtr-bg-slate-100 twgtr-text-theme-color-4
    }
    .twgtr-dark .site-acc-item .active {
        @apply twgtr-bg-slate-500 twgtr-text-theme-color-3
    }

    @media (max-width: 1023px) {
        .ssdl-nav .active {
            @apply twgtr-text-theme-color-4 before:twgtr-content-none;
        }

        .twgtr-dark .ssdl-nav .active {
            @apply twgtr-text-theme-color-4 before:twgtr-content-none;
        }
    }
}
