@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .recipe-content {
        @apply twgtr-font-open_sans;
    }
    .recipe-content h1, h2, h3, h4, h5, h6, li {
        @apply twgtr-transition-all twgtr-text-slate-700 dark:twgtr-text-slate-200;
    }
    .recipe-content h1 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[30px] md:twgtr-text-[40px];
    }
    .recipe-content h2 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[28px] md:twgtr-text-[38px];
    }
    .recipe-content h3 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[26px] md:twgtr-text-[36px];
    }
    .recipe-content h4 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[24px] md:twgtr-text-[34px];
    }
    .recipe-content h5 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[22px] md:twgtr-text-[32px];
    }
    .recipe-content h6 {
        @apply twgtr-font-bold twgtr-my-4 twgtr-text-[20px] md:twgtr-text-[30px];
    }
    .recipe-content p {
        @apply twgtr-transition-all twgtr-text-slate-700 dark:twgtr-text-slate-200 twgtr-my-4 twgtr-text-[14px] md:twgtr-text-[16px];
    }
    .recipe-content img {
        @apply twgtr-w-full twgtr-py-4;
    }
    .recipe-content ul {
        @apply  twgtr-pl-[22px] twgtr-list-disc;
    }
    .recipe-content ul li {
        @apply twgtr-transition-all twgtr-pb-2 last:twgtr-pb-0 twgtr-text-slate-700 dark:twgtr-text-slate-200 twgtr-text-[14px] md:twgtr-text-[16px];
    }
}

@layer utilities {
    .site-container {
        @apply twgtr-max-w-[1440px] twgtr-mx-auto twgtr-w-full;
    }
    .terms-privacy-content p {
        @apply twgtr-transition-all twgtr-font-open_sans twgtr-text-[16px] md:twgtr-text-[18px] last:twgtr-mb-0 twgtr-mb-4 dark:twgtr-text-slate-300;
    }
    .terms-privacy-content ul {
        @apply twgtr-list-disc twgtr-pl-5;
    }
    .terms-privacy-content ul li {
        @apply twgtr-transition-all twgtr-font-open_sans twgtr-text-[16px] md:twgtr-text-[18px] last:twgtr-mb-2 twgtr-mb-3 dark:twgtr-text-slate-300;
    }
    .terms-privacy-content h4 {
        @apply twgtr-transition-all twgtr-font-open_sans twgtr-font-bold twgtr-text-[20px] md:twgtr-text-[22px] last:twgtr-mb-0 twgtr-pt-2 twgtr-mb-2 dark:twgtr-text-slate-300;
    }
    /* .site-joedit-adj .jodit-container {
        @apply !twgtr-min-h-[500px]
    } */
    .site-form-error {
        @apply twgtr-transition-all twgtr-block twgtr-mt-1 twgtr-font-ubuntu twgtr-text-[12px] md:twgtr-text-[14px] twgtr-text-red-600 dark:twgtr-text-red-300;
    }
    .rpcat-box:last-child .dot {
        @apply twgtr-hidden;
    }
    .recipe-card {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .srh-main {
        position: relative;
    }
    .srh-main::after {
        content: '';
        position: absolute;
        left: 0px;
        width: 100%;
        bottom: -50px;
        height: 50px;
        background-color: inherit;
        z-index: 1;
    }    
    @media (max-width: 767px) {
        .srh-main::after {
            height: 30px;
            bottom: -30px;
        }
    }
}

@layer components {
    .site-header .active {
        @apply twgtr-text-theme-color-4;
    }
    .twgtr-dark .site-header .active {
        @apply twgtr-text-theme-color-4;
    }
    .site-footer .active {
        @apply twgtr-text-theme-color-4;
    }
    .twgtr-dark .site-footer .active {
        @apply twgtr-text-theme-color-4;
    }
    .ssdl-nav .active {
        @apply twgtr-text-theme-color-4 twgtr-font-medium before:twgtr-content-[''] before:twgtr-absolute before:twgtr-left-0 before:twgtr-top-[6px] before:twgtr-w-[2px] before:twgtr-h-[calc(100%-12px)] before:twgtr-bg-theme-color-4;
    }
    .twgtr-dark .ssdl-nav .active {
        @apply twgtr-text-theme-color-4 twgtr-font-medium before:twgtr-content-[''] before:twgtr-absolute before:twgtr-left-0 before:twgtr-top-[6px] before:twgtr-w-[2px] before:twgtr-h-[calc(100%-12px)] before:twgtr-bg-theme-color-4;
    }
    .site-acc-item .active {
        @apply twgtr-bg-slate-100 twgtr-text-theme-color-4;
    }
    .twgtr-dark .site-acc-item .active {
        @apply twgtr-bg-slate-500 twgtr-text-theme-color-3;
    }
    .home-after-shadow::after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1;
        transition: 0.8s;
    }
    .home-after-shadow-hover:hover::after {
        opacity: 0;
    }
    @media (max-width: 1023px) {
        .ssdl-nav .active {
            @apply twgtr-text-theme-color-4 before:twgtr-content-none;
        }

        .twgtr-dark .ssdl-nav .active {
            @apply twgtr-text-theme-color-4 before:twgtr-content-none;
        }
    }
}

.pgn-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.pgn-wrapper-rec {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 20px 20px 20px;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px 20px;
}

.pg-btns {
	display: inline-block;
	text-decoration: none;
	margin: 0px;
	padding: 8px 15px;
    font-family: 'Open Sans', sans-serif;
	background-color: #FF5A5F;
	color: #fdfdfd;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.8s;
}

.pg-btns:hover, .pg-btns:active {
	text-decoration: none;
	background-color: #df5054;
	color: #fdfdfd;
}

/* .twgtr-dark .pg-btns {
    background-color: #475569;
}

.twgtr-dark .pg-btns:hover, .twgtr-dark .pg-btns:active {
    background-color: #64748b;
} */

.pg-btns[disabled], .pg-btns.disabled {
	pointer-events: none;
	opacity: 0.2;
}

.pagination-list {
	display: flex;
	align-items: center;
	list-style: none;
	flex-wrap: wrap;
	gap: 5px 10px;
	margin: 0px;
	padding: 0px;
}

.pagination-list .prev-pg-btns {
	margin-right: 10px;
}

.pagination-list .next-pg-btns {
	margin-left: 10px;
}

.pagination-list .dot-break {
	display: inline-block;
	border: 0px;
	margin: 0px;
	padding: 5px 8px;
	background-color: transparent;
	color: #161616;
	font-size: 16px;
	cursor: pointer;
	border-radius: 0px;
	transition: 0.8s;
}

.pagination-list .dot-break:hover, .pagination-list .dot-break:active {
	background-color: #dfdfdf;
	color: #df5054;
}

.pagination-list li a.nav-link {
	display: inline-block;
	text-decoration: none;
	border: 0px;
	margin: 0px;
	padding: 2px 5px;
    min-width: 28px;
    min-height: 28px;
    text-align: center;
	background-color: transparent;
	color: #020617;
	font-size: 16px;
	cursor: pointer;
	border-radius: 0px;
	transition: 0.8s;
}

.pagination-list li a.nav-link:hover, .pagination-list li a.nav-link:active {
	text-decoration: none;
	background-color: #e2e8f0;
	color: #1e293b;
}

.pagination-list li a.nav-link.active {
	text-decoration: none;
	background-color: #FF5A5F;
	color: #e2e8f0;
}

.pagination-list li.active a.nav-link {
	text-decoration: none;
	background-color: #dfdfdf;
	color: #161616;
}

.twgtr-dark .pagination-list li a.nav-link {
    color: #e2e8f0;
}

.twgtr-dark .pagination-list li a.nav-link:hover, .pagination-list li a.nav-link:active {
    background-color: #64748b;
	color: #e2e8f0;
}

.site-spinner {
    --spinner-color: #FF5A5F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2.4px;
    background: -webkit-radial-gradient(farthest-side,var(--spinner-color) 95%,#0000) 50% 0/9.6px 9.6px no-repeat, -webkit-radial-gradient(farthest-side,#0000 -webkit-calc(100% - 4px),var(--spinner-color) -webkit-calc(100% - 3.2px)) content-box;
    background: -moz-radial-gradient(farthest-side,var(--spinner-color) 95%,#0000) 50% 0/9.6px 9.6px no-repeat, -moz-radial-gradient(farthest-side,#0000 -moz-calc(100% - 4px),var(--spinner-color) -moz-calc(100% - 3.2px)) content-box;
    background: -o-radial-gradient(farthest-side,var(--spinner-color) 95%,#0000) 50% 0/9.6px 9.6px no-repeat, -o-radial-gradient(farthest-side,#0000 calc(100% - 4px),var(--spinner-color) calc(100% - 3.2px)) content-box;
    background: radial-gradient(farthest-side,var(--spinner-color) 95%,#0000) 50% 0/9.6px 9.6px no-repeat, radial-gradient(farthest-side,#0000 calc(100% - 4px),var(--spinner-color) calc(100% - 3.2px)) content-box;
    
    -webkit-animation: spinner-x3enp9 1.5s infinite;
    -moz-animation: spinner-x3enp9 1.5s infinite;
    -o-animation: spinner-x3enp9 1.5s infinite;
    animation: spinner-x3enp9 1.5s infinite;
 }
 
 @-webkit-keyframes spinner-x3enp9 {
    to {
       -webkit-transform: rotate(1turn);
               transform: rotate(1turn);
    }
 }
@-moz-keyframes spinner-x3enp9 {
    to {
       -moz-transform: rotate(1turn);
            transform: rotate(1turn);
    }
 }
@-o-keyframes spinner-x3enp9 {
    to {
       -o-transform: rotate(1turn);
          transform: rotate(1turn);
    }
 }
@keyframes spinner-x3enp9 {
    to {
       -webkit-transform: rotate(1turn);
          -moz-transform: rotate(1turn);
            -o-transform: rotate(1turn);
               transform: rotate(1turn);
    }
 }